@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');


*{margin:0;box-sizing:border-box;padding:0}

:root{
--main-color:#0d8e53;
--bg-color:#dedad9;}



@media print {
  #shelfContainer {
    display: none !important;
  }
}

body{font-family:'Nunito','Arial',sans-serif;
background:#EDF2F7;
color:#000}

html{font-size:62.5%;line-height:1.4}

.wrapper{margin:auto;max-width:900px;
position:relative;width:99%;
font-size:1.7rem;font-size:17px}


a{text-decoration:none;font-weight:bold}

h1{line-height:1.25; font-size:24px;}
h2{line-height:1.25; font-size:22px;}
h3{line-height:1.25; font-size:18px}
h4{line-height:1.25; font-size:16px}
h5{line-height:1.25; font-size:12px}
h6{line-height:1.25; font-size:10px}

.socialLink{font-size:38px; padding:9px 4px}


.btn{display: inline-block;
text-decoration :none;
border-radius:5px;
background:#2B6CB0;
color:#fff; user-select: none;
transition:200ms;
margin:4px 4px;
font-weight:bold;
padding:4px 8px}

.btn:active, .btn:hover{
background: #2C5282; color:#fff}

.header{
display: flex;
  justify-content: space-around;
border-radius:0 0 9px 9px;
align-items: stretch;
 z-index:15;
 width:100%;
max-width:900px;
 background:#2A4365;color:#fff;
border-bottom:1px solid #fff;
 transition:top 400ms;
height:50px;}



.headerItem h1{font-size:22px;line-height:1;
position:relative;top:6px}
.headerItem h2{font-size:16px;line-height:1;
position:absolute;bottom:4px}



.header a{text-decoration:none;}

.header i:before{position: relative;
top:9px; padding:9px;
font-size:32px;
color:#fff}



[data-tab-content]{display:none}

.active[data-tab-content]{display:block}




.showAnchor:target {display:block;
position:relative;visibility:hidden;top:-96px;}





.tabs{position:fixed;z-index:75;display:flex;
justify-content:space-evenly;align-items: stretch;
width: inherit;max-width:900px;bottom:0;
list-style-type:none;height:50px;
background:#2A4365;color: rgba(255,255,255,0.5);
border-radius:9px 9px 0 0;
border-top:1px solid #fff; overflow : hidden;
user-select:none
}

.tab{flex-basis:33.30%;text-align:center;
line-height:1.1;  
cursor:pointer;padding:5px 10px;

transition:200ms;
}
 

.tab:hover, .tab.active{color:#fff}


.tab i::before{font-size:25px;
background: inherit; 
padding:0 20px}






.tab-content{position:absolute;z-index:2;
 padding-bottom:90px;}




.alertBox{position:relative;max-height:1px;
margin-bottom:4px;top:-500px;
border-bottom:2px solid #075e54}

.flexbox{display:flex;flex-direction:column;
justify-content:center; align-items:center}


#alreadyInCartMsg{visibility:hidden;
position:fixed;text-align:center;z-index:55;
left:50%;transform:translateX(-50%);
bottom:75px;width:95%;max-width:750px;
padding:16px;font-size:17px;border-radius:5px;
background:rgba(0,0,0,0.8);color:#fff;
 }


#alreadyInCartMsg.show{visibility:visible;
animation:fadeIn 0.5s, fadeOut 0.5s 2.5s}

@keyframes fadeIn{
from{bottom:0;opacity:0}
to{bottom:75px;opacity:1}}

@keyframes fadeOut{
from{bottom:75px;opacity:1}
to{bottom:0;opacity:0}}



/* Responsive Product Cards */

img {max-width:100%}

#shelfContainer{display:flex;flex-wrap:wrap;
justify-content:space-around;
align-items:flex-start}

.shelfItemContainer{display:inline-block;
margin:9px -2px;vertical-align:top;
position:relative;
overflow: hidden;
border-radius:5px;


background: inherit;

border:1px solid #CBD5E0;

width:32%}

.shelfItem{}

.shelfItemImage{}

.shelfItemTitle{padding:0 5px 5px 5px;
line-height:1.3; font-weight:bold;
font-size:17px}

.shelfItemPrice{padding-left:5px;
position:relative;  font-size:18px;
line-height:1;
font-weight: bold}
.oldItemPrice{position:relative;
left:4px;opacity:0.5}

input, .toggle{position:absolute;z-index:12;
outline:none;bottom:0;right:0;
width:90px;height:40px}

input{opacity:0}

.toggle{pointer-events:none;transition:500ms;
display:flex;justify-content:center;
align-items:center;border-radius:5px;
background:#027639;color:#fff;
border:1px solid #027639;
line-height:1;
font-size:18px;
margin:5px;
}

.toggle::before{content:"Info \e902";
font-family:'Nunito','rexarv';
font-weight:bold}

input:checked ~ .toggle{
background:#eee;
border-color:#bdbdbd;
color:#000;
transform: rotateX(360deg)
}

input:checked ~ .toggle::before{

content:"Close";}

.imgBox, .details{position:absolute;top:0;left:0;
width:100%;height:100%}

.details{z-index:11;
top:-100%;
opacity:0;transition:290ms;color:#000;
padding:7px 7px 70px 7px ; overflow: scroll;

background: #f5f5f5}


input:checked ~ .details{opacity:1;


top:0;
transition-delay:500ms; position: absolute}

.imgBox h3, .imgBox span{padding-left:4px}




.addToCartBtn{ padding:9px 18px;
border-radius:5px;
display:inline-block;
 transition:500ms;
 position: relative;
margin:5px;
line-height:1;
font-size:18px;
font-weight:bold;
border:1px solid #015d2d;
background:#00acee;color:#fff}




.addToCartBtn:hover
{transform: rotateX(360deg);
background: transparent;

color:#2c3e50; border-color:#2c3e50
}




#addedToCartMsg{background:#6b1d44; color:#eee;
padding:18px 9px 9px 9px;text-align:center;
width:90%;position:fixed;transition:900ms;
border-radius:4px; top:-100%;max-width:720px;
left:50%; z-index:9;
transform:translateX(-50%);
border:1px solid #ccc; }

#addedToCartMsg.show{top:50%;left:50%;
transform:translate(-50%,-50%)}

#addedToCartMsg.hide{top:-100%}

#addedToCartMsg.show::before{content:'';
position:absolute;left:0;top:0;height:7px;
background:#a2778a;width:100%;
box-sizing:border-box;z-index:11;
border-radius:4px 4px 4px 0;
animation: hideMeter 6s linear;}

@keyframes hideMeter{
0%{width:100%} 100%{width:0%} }



/* Cart Items */
#cart{padding-bottom:99px}

.cartContainer{display:flex;flex-wrap:wrap;
justify-content:space-around;align-items:center;
margin-top:9px}

.cartItem{flex-basis:48%;
border:1px solid #2c3e50;border-radius:5px;
margin-bottom:9px;
 overflow:hidden;}

.cartItemHeader{display:flex;
height:81px;
align-items:flex-start;
overflow: auto;
border-bottom:1px solid #2c3e50;}

.cartItemHeader img{height:80px;
border-right:1px solid #2c3e50}
.cartItemHeader .cartItemTitle{
height:80px;
overflow: hidden;
padding:2px 2px 2px 4px;
font-weight:bold; font-size:16px;
line-height:1.2;}

.cartItemId{display:none; font-weight:normal}

.cartItemFooter{display:flex;
background:#ecf0f1;color:#000;
 justify-content: space-around;
font-weight: bold;
font-size:17px;
align-items:center}

.cartItem .cartItemQty{display: inline-block;
 text-align: center;
border-radius:5px;
border:0;
border:1px solid #2c3e50;
font: inherit;
background:rgba(255,255,255,0.5);
width:40px;
margin:4px;
 height:32px;
 position: static;
opacity:1}

.btn-remove{ padding:5px 15px;
border-color:#e74c3c;
background:#c0392b}


#cartTotal{border:1px solid #2c3e50;
width:90%;
text-align: center;
margin:9px 0; border-radius:9px;
font-size:20px; padding:9px; }


.btn-purchase{width:90%;
text-decoration:none;
background:#27ae60;
text-align: center;
margin-bottom:4px;
font-size:24px;
border-radius:9px;
padding:9px;
border:2px solid var(--main-color);
font-weight:bold;
transition:200ms;
display: block;
color:#fff}

.btn-purchase:hover, 
.btn-purchase.active{background: transparent;
color:#213337}



{box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);}


@media screen and (max-width:800px) {
.shelfItem{flex-basis:49%}
.shelfItemContainer{width:49%}
}





@media screen and (max-width:450px) {
.shelfItemContainer{width:97%}}


@media screen and (max-width:360px) {
.shelfItem{flex-basis:97%}
.cartItem{flex-basis:97%}


}







